
/* ScrollBar Stylings*/

* {
  margin: 0;
  padding: 0;
}

.scroll {
  cursor: pointer;
  scrollbar-width: thin !important;
  scrollbar-color: black transparent !important;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important; /* The height is only seen on horizontal scrolling */
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

.association-artisans-upload {
  background-image: url("/images/association-lady.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.table-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #333; /* Border color for unchecked */
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.table-checkbox:checked {
  background-color: #a0d6b4; /* Change background color for checked */
  border-color: rgb(115, 142, 125); /* Change border color for checked */
}
.animate {
  left: 0 !important;
}

.animate-menu {
  left: 2rem !important;
}

.card-animate, .icon-animate {
  transition: all 0.3s ease-in-out;
}

.card-animate:hover {
  transform: scale(1.02);
}

.icon-animate:hover {
 transform: scale(1.1);
 color: aqua;
}

/* SLIDER */
.slider {
  width: 100%;
  margin-top: 3rem;
}

.slider_box {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 -1rem 8rem 0;
}

.slider_box h2 {
  font-size: 3rem;
  line-height: 0;
}

.slider_box_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider_box_button_btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

.slider_box_button_btn_icon {
  border: 1px solid gray;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.slider_box_items {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.custom-slider_box_items {
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider_box_item {
  display: grid;
  grid-template-columns: repeat(100, 20%);
  gap: 0.2rem;
  cursor: grab;
  scroll-behavior: smooth;
}

.custom-slider_box_item {
  display: grid;
  grid-template-columns: repeat(100, 25%);
  /* gap: 0.2rem; */
  cursor: grab;
  scroll-behavior: smooth;
}

.slider_box_item::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

@media screen and (max-width: 900px) {
  .link-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 35em) {
  .slider_box_item {
    grid-template-columns: repeat(100, 85%);
  }
  .slider_box_button_btn_icon {
    /* border: 1px solid gray; */
    padding: 0.5rem;
  }
  .slider {
    width: 100%;
    margin-top: 2rem;
  }
  .slider_box_item_partners {
    grid-template-columns: repeat(100, 32%);
  }
}

.hero-video-container {
  position: absolute;
  width: 100vw;
  height: 100%; /* Set the height as needed*/
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;

  /* opacity: 0.2; */
  /* filter: brightness(36%) opacity(0.3); */
}
